<div class="grid_12 alpha pane" id="dashboard">
  <div class="wrap">
    <article class="identity_map">
      <h1>Identities and Passwords</h1>
      <nav class="actions">
        <button type="button" class="button" id="add_identity_button">New Identity</button>
      </nav>
      <div class="clear"></div>
      <p class="help">
        Tired of manually changing your passwords?  Adjutant can change them for you!  Add a new 
        <a href="/help/identity_provider">identity provider</a> and <a href="/help/link_a_password">link it to a password</a>.  
        Changing your password in Adjutant will update all <a href="/help/identity">identities</a> associated with it.  
        <a href="/help/password_sync">Learn more...</a>
      </p>
      <section id="new_identity_form" class="hidden">
        <form id="" class="idForm">
          <label for="name">Name:</label>
          <input type="text" name="name" value="" id="name">

          
        </form>
      </section>
      <section id="contexts">
      </section>  
    </article>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    Adjutant.init();
  });
</script>