<header>
  <div id="logo">
      <a href="#">Adjutant</a>
  </div>
  <menu>
    <li><a href="#">My Stuff</a></li>
    <li><a href="#">Request</a></li>
    <li><a href="#">Browse</a></li>
  </menu>
  <div id="search_menu">
    <input type="text" name="search" placeholder="Search" id="search">
  </div>
  <div id="user_menu">
    <a href="#"><%= current_user.name %></a>
  </div>
</header>

<section id="content">
  
</section>
