.identity_map {
  h1 {
    float: left;
  }
  
  a.button {
    line-height: 120%;
    padding: 5px 10px; 
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: url('/assets/button_black_bg.gif') 0 0 repeat-x;
  }

  .context {
    margin-top: 15px;
    padding: 10px 5px;
    background: url('/assets/context_bg.gif') 0 0 repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #DDD;
    color: #666;
    cursor: pointer;
    li {
      display: inline;
    }
    #current_context {
    }
  }
  
  .actions {
    display: inline;
    float: right;
  }
  
  .user_name {
    font-family: Monaco;
  }
  
  .identities {
    width: 100%;
    border: 1px solid #E1E1E2;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    
    .even_row {
      background-color: white;
      background-image: url('/assets/stripe_tiny.png');
    }
    
    th {
      background: #FAFAFA;
      padding: 10px;
      text-align: center;
      #color: #909090;
      color: #777;
      line-height: 120%;
      border-bottom: 1px ridge #E1E1E1;
      font-size: 10px;
    }
    
    td {
      padding: 10px;
      text-align: center;
      border-bottom: 1px dotted #E1E1E1;
    }
    
    .identity {
      padding: 3px;
    }
    
    .provider {
    }
    
    .sync_time {
    }
  }
}
