.identity_map {
  h1 {
    float: left;
  }

  p {
    margin: 5px 0 7px 0;
    border-radius: 2px;
    border: 1px solid #ececec;
    padding: 5px 5px 5px 10px;
    background-color: #fcfcfc;
    line-height: 120%;
  }
  
  a.button {
    line-height: 120%;
    padding: 5px 10px; 
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: url('/assets/button_black_bg.gif') 0 0 repeat-x;
  }

  .context {
    margin-top: 15px;
    padding: 10px 5px;
    background: url('/assets/context_bg.gif') 0 0 repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #DDD;
    color: #666;
    cursor: pointer;
    li {
      display: inline;
    }
    #current_context {
    }
  }
  
  .actions {
    display: inline;
    float: right;
  }
  
  .user_name {
    font-family: Courier;
  }
  
  .identities {
    margin: 10px;
    paddig: 5px;
    width: 90%;
    
    th {
      text-align: left;
      font-family: "droid-sans-bold";
      color: #909090;
      line-height: 120%;
      text-decoration: underline;
    }
    
    td {
      padding: 2px;
    }
    
    .identity {
      padding: 3px;
    }
    
    .provider {
    }
    
    .last_sync {
    }
  }
}
