<!DOCTYPE html>
<html>
<head>
  <title>adjutant</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="headerDiv">
        <span id="logo"><a href="#">adjutant</a></span>
    </div>
    <div id="loginDiv">
        <div class="wrap">
            <%= yield %>            
        </div>
    </div>
</body>
</html>
